{% extends 'base.html.twig' %}

{% block title %}
    {{'Person.new'|trans}}
{% endblock title %}

{% set currentEntityConfig = app.session.get('currentEntityConfig') %}
{% set personnalFieldsRestriction = [] %}
{% if currentEntityConfig and 'personnalFieldsRestriction' in currentEntityConfig %}
    {% set personnalFieldsRestriction = currentEntityConfig['personnalFieldsRestriction'] %}
{% endif %}

{% block body %}
    <h1>{{'Person.new'|trans}}<a class="sf-admin-help" href="#" data-toggle="modal" data-target="#helpModal-17"><i class="fa-solid fa-question-circle"></i></a></h1>
            {{ render(controller('PostparcBundle:Default:helpMessage', {'id': '17'})) }}
    <div id="sf_admin_bar">
        <div class="suggestionsBox bg-warning" id="suggestions" style="display: none;">
            <div class="suggestionList" id="autoSuggestionsList"></div>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div id="sharedInformationFormOptions" class="bs-callout bs-callout-info">
                <h4>{{ 'sharedFormOptions'|trans() }}<a class="sf-admin-help" href="#" data-toggle="modal" data-target="#helpModal-33"><i class="fa-solid fa-question-circle"></i></a></h4>
                        {{ render(controller('PostparcBundle:Default:helpMessage', {'id': '33'})) }}
                        {{ form_row(form.isShared) }}
                        {{ form_row(form.isEditableByOtherEntities) }}
            </div>
        </div>
        <div class="col-md-6">
            {%  if not (person.getDontWantToBeContacted()) or is_granted('ROLE_CONTRIBUTOR') %}
                <div class="bs-callout bs-callout-warning">
                    {{ form_row(form.dontWantToBeContacted) }}
                    {{ form_row(form.dontShowCoordinateForReaders) }}
                </div>
            {% else %}
                <div class="hidden">
                    {{ form_row(form.dontWantToBeContacted) }}
                    {{ form_row(form.dontShowCoordinateForReaders) }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.civility) }}
            {{ form_row(form.name) }}
            {{ form_row(form.firstName) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.image) }}
        </div>
    </div>
    {% if 'profession' not in personnalFieldsRestriction %}
        {{ form_row(form.profession) }}
    {% endif %}
    {% if 'birthDate' not in personnalFieldsRestriction %}
        {{ form_row(form.birthDate) }}
    {% endif %}
    {% if 'birthLocation' not in personnalFieldsRestriction %}
        <div class="form-group">
            {{ form_label(form.birthLocation) }}
            {{ form_widget(form.birthLocation) }}
            <select id="person_birthLocation" name="person[birthLocation]" class="city-select2-autocomplete-all form-control">

            </select>
        </div>
    {% endif %}
    {% if app.environment == 'udaf' %}
        {% if 'nbMinorChildreen' not in personnalFieldsRestriction %}
            {{ form_row(form.nbMinorChildreen) }}
        {% endif %}
        {% if 'nbMajorChildreen' not in personnalFieldsRestriction %}
            {{ form_row(form.nbMajorChildreen) }}
        {% endif %}
    {% else %}
        <div class="hidden">
            {% if 'nbMinorChildreen' not in personnalFieldsRestriction %}
                {{ form_row(form.nbMinorChildreen) }}
            {% endif %}
            {% if 'nbMajorChildreen' not in personnalFieldsRestriction %}
                {{ form_row(form.nbMajorChildreen) }}
            {% endif %}
        </div>
    {% endif %}
    {{ form_row(form.coordinate) }}
    {% if 'observation' not in personnalFieldsRestriction %}
        {{ form_row(form.observation) }}
    {% endif %}
    {% if 'tags' not in personnalFieldsRestriction %}
        {{ form_row(form.tags) }}
    {% endif %}

    <div class="btn-group form-actions addActionsOnTop">
        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="{{'actions.backToTheList'|trans()}}" data-container="body" href="{{path('person_index')}}">
            <i class="fa-solid fa-list"></i>&nbsp;<span>{{'actions.backToTheList'|trans()}}</span>
        </a>
        <input type="submit" class="btn btn-primary" value="{{'actions.create'|trans()}}">
        <input type="submit" class="btn btn-info" name="createAndContinue" value="{{'actions.createAndContinue'|trans()}}">
    </div>
    {{ form_end(form) }}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/postparc/js/check_list_person.js')}}"></script>
{% endblock javascripts %}
