{% extends 'base.html.twig' %}

{% block title %}
{{'Pfo.new'|trans}}
{% endblock title %}

{% block body %}
    <h1>{{'Pfo.new'|trans}}
        {% if helpId is defined %}
        <a class="sf-admin-help" href="#" data-toggle="modal" data-target="#helpModal-{{ helpId }}"><i class="fa-solid fa-question-circle"></i></a>
        {% endif %}
    </h1>
    {% if helpId is defined %}
        {{ render(controller('PostparcBundle:Default:helpMessage', {'id': helpId})) }}
    {% endif %}
    {{ form_start(form) }}
        <div id="sharedInformationFormOptions" class="bs-callout bs-callout-info">
            <h4>{{ 'sharedFormOptions'|trans() }}<a class="sf-admin-help" href="#" data-toggle="modal" data-target="#helpModal-33"><i class="fa-solid fa-question-circle"></i></a></h4>
            {{ render(controller('PostparcBundle:Default:helpMessage', {'id': '33'})) }}
            {{ form_row(form.isShared) }}
            {{ form_row(form.isEditableByOtherEntities) }}
         </div>
        {{ form_widget(form) }}
        <div class="btn-group form-actions addActionsOnTop">
            <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="{{'actions.backToTheList'|trans()}}" data-container="body" href="
            {% if organization is defined %}
            {{path('organization_show', {'id': organization.id})}}
            {% endif %}
            {% if person is defined %}
            {{path('person_show', {'id': person.id})}}
            {% endif %}
            ">
                <i class="fa-solid fa-list"></i>&nbsp;<span>{{'actions.backToTheList'|trans()}}</span>
            </a>
            <input type="submit" class="btn btn-primary" value="{{'actions.create'|trans()}}">
        </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
{{parent()}}
<script type="text/javascript"  src="{{ asset('bundles/postparc/js/postparc-autocomplete.js') }}"></script>
{% endblock %}
