{% extends 'base.html.twig' %}

{% block title %}
    {{'Organization.actions.addNewRepresentation'|trans}} "{{organization.name}} / {{personOrPfoTobeAdded}}"
{% endblock title %}

{% block body %}
    <h1>{{'Organization.actions.addNewRepresentation'|trans}} "{{organization.name}} / {{personOrPfoTobeAdded}}"</h1>
    {{ form_start(form) }}
    <div id="sharedInformationFormOptions" class="bs-callout bs-callout-info">
        <h4>{{ 'sharedFormOptions'|trans() }}<a class="sf-admin-help" href="#" data-toggle="modal" data-target="#helpModal-33"><i class="fa-solid fa-question-circle"></i></a></h4>
                {{ render(controller('PostparcBundle:Default:helpMessage', {'id': '33'})) }}
                {{ form_row(form.isShared) }}
                {{ form_row(form.isEditableByOtherEntities) }}
    </div>

    <div class="alert alert-info mb-10" role="alert">
        {{ 'Representation.coordinateHelpMessage'|trans() }}
    </div>
 
{{ form_widget(form.organization) }}
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.natureOfRepresentation) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.mandateType) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.personFunction) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.elected) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.mandatDurationIsUnknown) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.beginDate) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.mandatDuration) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.estimatedTime) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.periodicity) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.estimatedCost) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.tags) }}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        {{ form_row(form.sendAlert) }}
    </div>
    <div class="col-md-5">
        {{ form_row(form.nbMonthBeforeAlert) }}
    </div>
    <div class="col-md-5">
        {{ form_row(form.alerter) }}
    </div>


    <div class="col-md-12">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="postparcbundle_representation_specific_coordinate"
                           data-toggle="collapse" data-target="#collapseCoordinate" aria-expanded="false" aria-controls="collapseCoordinate">
                    {{ 'Representation.field.specificCoordinate'|trans }}
                </label>
            </div>
        </div>
        <div class="collapse" id="collapseCoordinate">
            <div class="well">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.coordinate.addressLine1) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_row(form.coordinate.addressLine2) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_row(form.coordinate.addressLine3) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.coordinate.cedex) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.coordinate.phone) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.coordinate.mobilePhone) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.coordinate.fax) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(form.coordinate.webSite) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.coordinate.city) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.coordinate.email) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.coordinate.facebookAccount) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.coordinate.twitterAccount) }}
                    </div>
                    {{ form_row(form.coordinate) }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ form_row(form.attachments, {'label': false}) }}
{{ form_end(form) }}
{% endblock body %}