{% extends 'base.html.twig' %}

{% block title %}
   {{'Organization.edit'|trans}} "{{organization.name}}"
{% endblock title %}

{% block body %}
   <h1>{{'Organization.edit'|trans}} "{{organization.name}}"</h1>
   {% include 'default/updatedByDiv.html.twig' with {'object': organization} %}
   {{ form_start(edit_form) }}
   <div id="sharedInformationFormOptions" class="bs-callout bs-callout-info">
      <h4>{{ 'sharedFormOptions'|trans() }}<a class="sf-admin-help" href="#" data-toggle="modal" data-target="#helpModal-33"><i class="fa-solid fa-question-circle"></i></a></h4>
            {{ render(controller('PostparcBundle:Default:helpMessage', {'id': '33'})) }}
            {{ form_row(edit_form.isShared) }}
            {{ form_row(edit_form.isEditableByOtherEntities) }}
   </div>
   <div class="row">
      <div class="col-md-6">
         {{ form_row(edit_form.organizationType) }}
         {{ form_row(edit_form.name) }}
         {{ form_row(edit_form.abbreviation) }}
      </div>
      <div class="col-md-6">
         {% if organization.image %}
            <img src="{{ asset(organization.getwebPath) }}" alt="{{organization.image}}"  class="img-responsive"/><br/>
            <input type="checkbox" name="deleteImage" value="1"> {{'actions.deleteImage'|trans}}
         {% endif %}
         {{ form_row(edit_form.image) }}

      </div>
   </div>
   <div class="row">
      <div class="col-md-6">
         {{ form_row(edit_form.description) }}
         {{ form_row(edit_form.siret) }}
         {{ form_row(edit_form.nbAdherent) }}
         {{ form_row(edit_form.tags) }}
         {{ form_row(edit_form.observation) }}
         {{ form_row(edit_form.showObservation) }}

      </div>
      <div class="col-md-6">
         {{ form_row(edit_form.coordinate) }}
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <i class="fa-solid fa-file" aria-hidden="true"></i> {{ form_label(edit_form.attachments) }}
      </div>
      <div class="col-md-12">
         <ul class="attachments" data-prototype="{{ form_widget(edit_form.attachments.vars.prototype)|e('html_attr') }}">
            {% for attachment in edit_form.attachments %}
               <li class="col-md-3 panel panel-default">{{ form_widget(attachment) }}</li>
               {% endfor %}
         </ul>
      </div>
   </div>
   {{ form_row(edit_form._token) }}
   <div class="btn-group form-actions addActionsOnTop">
      <a class="btn btn-default" href="{{path('organization_delete', {'id':organization.id })}}" data-toggle="tooltip" data-placement="top" title="{{'actions.delete'|trans()}}" data-container="body" onclick="return confirm('{{'actions.confirmDelete'|trans}}');" >
         <i class="fa-solid fa-trash-alt"></i>
      </a>
      <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="{{'actions.backToTheList'|trans()}}" data-container="body" href="
         {% if origin =='search'%}
            {{path('search') }}
         {% else %}
            {{path('organization_index')}}
         {% endif %}
         ">
         <i class="fa-solid fa-list"></i>&nbsp;<span>{{'actions.backToTheList'|trans()}}</span>
      </a>
      <input type="submit" class="btn btn-primary" value="{{'actions.edit'|trans()}}">
   </div>
</form>


{% endblock %}
{% block javascripts %}
   {{ parent() }}
   <script type="text/javascript" src="{{ asset('bundles/postparc/js/attachments.js') }}"></script>
{% endblock %}
