{% extends 'base.html.twig' %}

{% if app.user.coordinate and app.user.coordinate.coordinate|length > 0 %}
    {% set coordinate = app.user.coordinate.coordinate %}
{% else %}
    {% set coordinate = app.user.entity.coordinate %}
{% endif %}
{% block title %}
    {{'Organization.show'|trans}} {{organization.name}} {% if organization.abbreviation and organization.abbreviation != organization.name %}({{organization.abbreviation}}){% endif %}
{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            {%  set imageUrl = asset('bundles/postparc/images/nophoto.png') %}    
            {% if organization.image %}
                {%  set imageUrl = asset(organization.getwebPath) %}
            {% endif %}
            <div class="media">
                <div class="media-left media-middle">
                    <img src="{{ imageUrl }}" alt="{{organization}}" class="img-circle" style="width: 64px; height: 64px;"/>
                </div>
                <div class="media-body pb-10">
                    <h1>
                        {{'Organization.show'|trans}} {{organization.name}} {% if organization.abbreviation and organization.abbreviation != organization.name %}({{organization.abbreviation}}){% endif %}
                        {% include 'default/_favoriteStarBlock.html.twig' with {'object': organization} %}
                    </h1>
                </div>
            </div>
        </div>    
        <div class="nav-list-actions col-md-4 pull-right">
            <ul>
                {% if is_granted('ROLE_CONTRIBUTOR') %}
                    <li class="sf_admin_action_new">
                        <a class="btn btn-primary" href="{{path('organization_new_pfo', {'id': organization.id})}}"><i class="fa-solid fa-plus"></i><span class="libelle">&nbsp;{{'Organization.actions.addPerson'|trans}}</span></a>
                    </li>
                {% endif %}
                <li>
                    <a class="btn btn-default"  target="_blank" data-toggle="tooltip" data-placement="top" data-container="body"  title="{{'actions.print'|trans}}" href="{{ path('organization_print', {'id': organization.id}) }}"><i class="fa-solid fa-print"></i></a>
                </li>
            </ul>
        </div>
    </div>


    {% if organization.showObservation %}
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div  class="bs-callout bs-callout-info">
                    {{ organization.observation|raw }}
                </div>
            </div>
        </div>
    {% endif %}

    <br/>

    <div class="row">
        <div class="col-lg-8 col-xl-6" >
            <div class="well">
                <strong>{{organization.name}}</strong><br/>
                <div class="row">
                    <div class="col-sm-6 col-md-6" >
                        <ul class="no-type">
                            {% if organization.coordinate %}
                                <li>
                                    <i class="fa-solid fa-home"></i>&nbsp;{{organization.coordinate.addressLine1}}
                                    {% if organization.coordinate.addressLine2 %}
                                        <br/>{{ organization.coordinate.addressLine2 }}
                                    {% endif %}
                                    {% if organization.coordinate.addressLine3 %}
                                        <br/>{{ organization.coordinate.addressLine3 }}
                                    {% endif %}
                                    <br/>
                                    {% if organization.coordinate.city %}
                                        {{organization.coordinate.city.zipCode}}
                                    {% endif %}
                                    {% if organization.coordinate.city %}
                                        {{organization.coordinate.city.getName()}}
                                    {% endif %}
                                    {% if organization.coordinate.cedex %}
                                        {{organization.coordinate.cedex}}
                                    {% endif %}
                                </li>
                                {% if organization.coordinate and organization.coordinate.coordinate|length %}
                                    <li>
                                        <i class="fa-solid fa-map-marker" aria-hidden="true"></i> &nbsp <span class="coordinate">{{organization.coordinate.coordinate}}</span> <a href="javascript;" class="updateCoordinateGeoloc" data-id="{{organization.coordinate.id}}"><i class="fa-solid fa-arrows-rotate" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a  href="https://www.openstreetmap.org/directions?engine=graphhopper_car&route={{coordinate}}%3B{{organization.coordinate.coordinate}}" target=blank" class="btn btn-primary"><i class="fa-solid fa-map" aria-hidden="true"></i>&nbsp;{{'itinerary'|trans}}</a>
                                    </li>
                                {% endif %}
                            {% endif %}    
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6" >
                        <ul class="no-type">
                            {% if organization.coordinate %}
                                {% if organization.coordinate.phone %}
                                    <li>
                                        <i class="fa-solid fa-phone"></i>&nbsp;<a href="javascript:;" class="phoneNumber">{{organization.coordinate.phoneCode}} {{organization.coordinate.phone}}</a>
                                    </li>
                                {% endif %}
                                {% if organization.coordinate.mobilePhone %}
                                    <li>
                                        <i class="fa-solid fa-mobile"></i>&nbsp;<a href="javascript:;" class="phoneNumber">{{organization.coordinate.phoneCode}} {{organization.coordinate.mobilePhone}}</a>
                                    </li>
                                {% endif %}
                                {% if organization.coordinate.email %}
                                    <li>
                                        <a href="mailto:{{organization.coordinate.email}}"><i class="fa-solid fa-envelope"></i>&nbsp;{{organization.coordinate.email}}</a>
                                    </li>
                                {% endif %}
                                {% if organization.coordinate.webSite %}
                                    <li>
                                        <a href="{{organization.coordinate.webSite}}"><i class="fa-solid fa-desktop"></i>&nbsp;{{organization.coordinate.webSite}}</a>
                                    </li>
                                {% endif %}
                                {% if (organization.coordinate.facebookAccount) %}
                                    <li>
                                        <i class="fa-brands fa-facebook"></i>&nbsp;<a href="{{organization.coordinate.facebookAccount}}">{{organization.coordinate.facebookAccount}}</a>
                                    </li>
                                {% endif %}
                                {% if (organization.coordinate.twitterAccount) %}
                                    <li>
                                        <i class="fa-brands fa-twitter"></i>&nbsp;<a href="{{organization.coordinate.twitterAccount}}">{{organization.coordinate.twitterAccount}}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if organization.getTags() | length %}
                                <li>
                                    <i class="fa-solid fa-tags" aria-hidden="true"></i> {{organization.getTags()|join(', ')}}
                                </li>
                            {% endif %}
                            {% if organization.getSiret() | length %}
                                <li>
                                    {{ 'Organization.field.siret'|trans() }} : {{organization.getSiret()}}
                                </li>
                            {% endif %}
                            {%  if qrCodeUri is defined %}
                                <li><a class="btn btn-default btn-block" href="{{ path('organization_exportVcard', {'id': organization.id}) }}"><img src="{{ qrCodeUri }}" class="img-fluid" width="100px"/></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6" >
                        <a class="btn btn-default btn-block add-to-selection-button"  data-type="organization" data-id="{{organization.id}}" href="{{ path('organization_addBasket', {'id':organization.id, 'origin':'fiche' }) }}"><i class="fa-solid fa-shopping-cart"></i>&nbsp;{{'actions.addBasket'|trans}}</a>
                    </div>
                    <div class="col-sm-6 col-md-6" >
                        <a class="btn btn-default btn-block" href="{{ path('organization_exportVcard', {'id': organization.id}) }}"><i class="fa-solid fa-address-card" aria-hidden="true"></i></i>&nbsp;{{'actions.exportVcard'|trans}}</a>
                    </div>
                </div>
                {% if is_granted('ROLE_CONTRIBUTOR') %}
                    <br/>
                    <div class="row">
                        {% if ( ( organization.entity.id == app.user.entity.id) or is_granted("ROLE_SUPER_ADMIN") ) %}
                            <div class="col-sm-6 col-md-6" > 
                                <a href="{{ path('organization_edit', {'id': organization.id}) }}" class="btn btn-primary btn-block"><i class="fa-solid fa-pencil-alt"></i><span class="libelle"> {{'actions.edit'|trans}}</span></a>
                            </div>
                        {% endif %}
                        <div class="col-sm-6 col-md-6" >
                            <a href="{{ path('organization_delete', {'id': organization.id}) }}" class="btn btn-warning btn-block" onclick="return confirm('{{'actions.confirmDelete'|trans}}');"><i class="fa-solid fa-trash-alt"></i><span class="libelle"> {{'actions.delete'|trans}}</span></a>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
        <div class="col-lg-4 col-xl-6" >
            {% if organization.coordinate and organization.coordinate.coordinate|length %}
                <div id="map-{{organization.id}}" style="height: 300px; width: 100%; "></div>
            {% endif %}
        </div>

        <div class="col-sm-12 col-md-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" {% if activeTab == 'personnalList' %}class="active"{% endif %}><a href="#personnalList" aria-controls="home" role="tab" data-toggle="tab"><i class="fa-solid fa-users" aria-hidden="true"></i> {{'Organization.personnalListTab'|trans}} <span class="label label-pill label-success" >{{pfos.getTotalItemCount}}</span></a></li>
                <li role="presentation" {% if activeTab == 'attachments' %}class="active"{% endif %}><a href="#attachments" aria-controls="home" role="tab" data-toggle="tab"><i class="fa-solid fa-file" aria-hidden="true"></i> {{'genericFields.documents'|trans}} <span class="label label-pill label-primary" >{{organization.attachments|length}}</span></a></li>
                <li role="presentation" {% if activeTab == 'organizationLinks' %}class="active"{% endif %}><a href="#organizationLinks" aria-controls="home" role="tab" data-toggle="tab"><i class="fa-solid fa-link" aria-hidden="true"></i> {{'OrganizationLink.linkedOrganizations'|trans}} <span class="label label-pill label-warning" >{{linkedOrganisations|length}}</span></a></li>
                        {% if subServiceOrganizations |length > 0 %}
                    <li role="presentation" {% if activeTab == 'subServiceOrganizations' %}class="active"{% endif %}><a href="#subServiceOrganizations" aria-controls="home" role="tab" data-toggle="tab"><i class="fa-solid fa-server" aria-hidden="true"></i> {{'Organization.subServices'|trans}} <span class="label label-pill label-warning" >{{subServiceOrganizations|length}}</span></a></li>
                        {% endif %}
                        {% if app.session.get('currentEntityConfig') is defined and app.session.get('currentEntityConfig').use_representation_module == true  %}
                    <li role="presentation" {% if activeTab == 'representations' %}class="active"{% endif %}><a href="#representations" aria-controls="home" role="tab" data-toggle="tab"><i class="fa-solid fa-bullhorn" aria-hidden="true"></i> {{'Representation.labels_with_volunteer'|trans}} <span class="label label-pill label-danger" >{{representations|length}}</span></a></li>
                        {% endif %}
                <li role="presentation" {% if activeTab == 'groups' %}class="active"{% endif %}><a href="#groups" aria-controls="home" role="tab" data-toggle="tab"><i class="fa-solid fa-users" aria-hidden="true"></i> {{'groups'|trans}} <span class="label label-pill label-default" >{{organization.groups|length}}</span></a></li>
                <li class="{% if activeTab == 'map'%}active{% endif %}">
                    <a href="#mapOrganization"  role="tab" data-toggle="tab" id="maplink">
                        <i class="fa-solid fa-map-marker"></i> {{'map'|trans}} </a>
                </li>
                {{ render(controller('PostparcBundle:Note:getTabDom',{ 'className': organization.getClassName() , 'objectId': organization.id })) }}
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane {% if activeTab == 'personnalList' %}active{% endif %}" id="personnalList">
                    <h3>{{'Organization.personnalList'|trans}}<small class="text-info">&nbsp;&nbsp;{{pfos.getTotalItemCount}} {{'results'|trans}}</small></h3>
                    <span class="help-block">{{'Organization.onlyPfoWithPrincipaleFunctionAreShow'|trans()}}</span>
                    {% if pfos|length > 0 %}
                        <form action="{{path('organizationPfos_batch', {'organizationId':organization.id})}}" method="post" >
                            <div class="sf-admin-batch-actions-choice">
                                <div class="form-group">
                                    <label for="batch_action">{{'forSelection'|trans}}</label>
                                    <select name="batch_action" class="form-control">
                                        <option value="">{{'chooseAction'|trans}}</option>
                                        {% if is_granted('ROLE_CONTRIBUTOR') %}
                                            <option value="batchDelete">{{'actions.delete'|trans}}</option>
                                        {% endif %}
                                        <option value="batchAddBasket">{{'actions.addBasket'|trans}}</option>
                                        <option value="batchExportVcard">{{'actions.exportVcard'|trans}}</option>
                                    </select>
                                </div>
                                <input class="btn btn-default" type="submit" id="batchFormSubmitButton" value="ok">
                                {% include 'default/selectResultsPerPage.html.twig'  %}

                            </div>
                            <div class="sf_admin_list no-more-tables">
                                <table class="table table-stripped table-hover table-condensed">
                                    <tbody>
                                        <tr>
                                            <th id="sf_admin_list_batch_actions">
                                                <input id="sf_admin_list_batch_checkbox" type="checkbox" title="Check all" onclick="checkAll();">
                                            </th>
                                            <th>{{ knp_pagination_sortable(pfos, 'Person.field.name'|trans(), 'p.name') }}</th>
                                            <th>{{ knp_pagination_sortable(pfos, 'Person.field.firstName'|trans(), 'p.firstName') }}</th>
                                            <th>{{ knp_pagination_sortable(pfos, 'Pfo.field.service'|trans(), 's.name') }}</th>
                                            <th>{{ knp_pagination_sortable(pfos, 'Pfo.field.personFunction'|trans(), 'f.name') }}</th>
{#                                            <th>{{ knp_pagination_sortable(pfos, 'Pfo.field.additionalFunction'|trans(), 'af.name') }}</th>#}
                                            <th>Email</th>
                                            <th>Téléphone</th>
                                            <th>{{'actions.actions'|trans}}</th>
                                        </tr>
                                        {% for pfo in pfos %}
                                            {% if (pfo.entity.id != app.user.entity.id and not(is_granted("ROLE_SUPER_ADMIN")) ) %}
                                                {% set editable = false %}
                                            {% else %}
                                                {% set editable = true %}
                                            {% endif %}
                                            <tr {% if editable==false %} class="warning"{% endif %}>
                                                <td><input type="checkbox" name="ids[]" value="{{ pfo.id }}" class="sf_admin_batch_checkbox"></td>
                                                <td>{% if pfo.person %}<a href="{{path('pfo_show', {'id':pfo.id })}}" target="_blank">{{pfo.person.name}}</a>{% endif %}</td>
                                                <td>{% if pfo.person %}<a href="{{path('pfo_show', {'id':pfo.id })}}" target="_blank">{{pfo.person.firstName}}</a>{% endif %}</td>
                                                <td>{{ pfo.service}}</td>
                                                <td>{% if pfo.person and pfo.person.civility and pfo.person.civility.isFeminine and pfo.personFunction and pfo.personFunction.womenName %} {{ pfo.personFunction.womenName}} {% else %} {{ pfo.personFunction}} {% endif %}</td>
{#                                                <td>{% if pfo.person and pfo.person.civility and pfo.person.civility.isFeminine and pfo.additionalFunction and pfo.additionalFunction.womenName %} {{ pfo.additionalFunction.womenName}} {% else %} {{pfo.additionalFunction}} {% endif %}</td>#}
                                                <td class="sf_admin_text sf_admin_list_td_ListCoordonnees">
                                                    <ul>
                                                        {% if pfo.preferedEmails|length %}
                                                            {% for email in pfo.preferedEmails %}
                                                                <li><a href="mailto:{{email}} ">{{email}} </a></li>
                                                                {% endfor %}
                                                            {% else %}
                                                            <li><a href="mailto:{{pfo.email}} ">{{pfo.email}} </a></li>
                                                            {% endif %}
                                                    </ul>
                                                </td>
                                                <td>{% if pfo.phone %}<a href="javascript:;" class="phoneNumber">{{pfo.phone}}</a>{% else %} - {% endif %}</td>

                                                <td>
                                                    <div class="btn-group">
                                                        {% if pfo.person %}
                                                            {% set url  = path('person_show', {'id': pfo.person.id }) ~ "#pfo-" ~ pfo.id %}
                                                        {% else %}
                                                            {% set url  = path('pfo_show', {'id': pfo.id }) %}
                                                        {% endif %}
                                                        <a class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" data-container="body" title="{{'Person.actions.show'|trans}}" href="{{url}}"><i class="fa-solid fa-info"></i></a>
                                                            {% if (is_granted('ROLE_CONTRIBUTOR') and ( editable or ( not(editable) and pfo.isEditableByOtherEntities) ) )%}
                                                            <a class="btn btn-default btn-xs" title="Editer" href="{{ path('pfo_edit', {'id': pfo.id}) }}?origin=organization"><i class="fa-solid fa-pencil-alt"></i></a>
                                                            <a href="{{path('pfo_delete', {'id':pfo.id })}}?origin=organization" class="btn btn-default btn-xs delete-ajax-button" data-type="pfo" data-id="{{pfo.id}}" data-toggle="tooltip" data-placement="top" title="{{'actions.delete'|trans}}" data-container="body" data-confirm="{{'actions.confirmDelete'|trans}}"> <i class="fa-solid fa-trash-alt"></i></a>
                                                            {% endif %}
                                                        <a href="{{path('pfo_exportVcard', {'id':pfo.id })}}" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" data-container="body" title="{{'actions.exportVcard'|trans}}"><i class="fa-solid fa-address-card"></i></a>
                                                        <a href="{{path('pfo_addBasket', {'id':pfo.id })}}?origin=organization" class="btn btn-default btn-xs add-to-selection-button" data-type="pfo" data-id="{{pfo.id}}" data-toggle="tooltip" data-placement="top" data-container="body" title="{{'actions.addBasket'|trans}}"><i class="fa-solid fa-shopping-cart"></i></a>
                                                            {% include 'default/_favoriteStarBlock.html.twig' with {'object': pfo} %}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <div class="navigation text-center">
                            {{ knp_pagination_render(pfos) }}
                        </div>
                    {% else %}
                        <div class="alert alert-info">
                            {{'Organization.noResult'|trans}}
                        </div>
                    {% endif %}
                    <br/>
                </div> {# end tabpanel #personnalList #}

                {# start attachement panel #}
                <div role="tabpanel" class="tab-pane {% if activeTab == 'attachments' %}active{% endif %}" id="attachments">
                    <h3>{{'genericFields.documents'|trans}}</h3>

                    <a href="{{ path('organization_edit', {'id': organization.id}) }}"><span class="help-block">{{'Organization.help.editToAddNewAttachement'|trans()}}</span></a>

                    {% if organization.attachments|length>0 %}
                        <table class="table table-stripped table-hover table-condensed">
                            <tbody>
                                {% for attachment in organization.attachments %}
                                    {% set ext = attachment|split('.')|last %}
                                    {% set extIco = '-'~attachment|split('.')|last %}
                                    {% if ext in ['png','jpeg', 'gif'] %}
                                        {% set extIco = '-image' %}
                                    {% endif %}
                                    {% if ext in ['ods','odt', 'gif'] %}
                                        {% set extIco = '' %}
                                    {% endif %} 
                                    <tr>
                                        <td>{{attachment}}</td>
                                        <td><i class="fa-solid fa-file{{extIco}}" aria-hidden="true"></i> {{ ext }}</td>
                                        <td><a class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" data-container="body" title="{{'Attachment.actions.download'|trans}}" href="{{ app.request.scheme ~'://' ~ app.request.httpHost~ base_url ~ vich_uploader_asset(attachment, 'attachmentFile') }}" target="_blank"><i class="fa-solid fa-download" aria-hidden="true"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>

                {# end attachement panel #}

                {# start linked organization panel #}
                <div role="tabpanel" class="tab-pane {% if activeTab == 'organizationLinks' %}active{% endif %}" id="organizationLinks">
                    <h3> {{'OrganizationLink.linkedOrganizations'|trans}}</h3>
                    {% if linkedOrganisations|length %}
                        {% set linkTypeArray = {'1':'vertical', '2':'horizontal', '3':'service'} %}

                        <table class="table table-stripped table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>{{'genericFields.name'|trans()}}</th>
                                    <th>{{'OrganizationLink.field.linkType'|trans()}}</th>
                                    <th id="sf_admin_list_th_actions">{{'actions.actions'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for linkedOrganisation in linkedOrganisations%}
                                    {% set organismeLinked = linkedOrganisation.getOrganizationLinked() %}

                                    {% if not(organismeLinked) or organismeLinked.getId()==organization.id %}
                                        {% set organismeLinked = linkedOrganisation.getOrganizationOrigin()  %}
                                    {% endif %}
                                    {% if organismeLinked %}
                                        <tr>
                                            <td>{{ organismeLinked }}</td>
                                            <td>{{ ('OrganizationLink.'~linkTypeArray[linkedOrganisation.linkType])|trans() }}
                                                {% if linkedOrganisation.linkType ==1 %}
                                                    {% if linkedOrganisation.getOrganizationLinked() and linkedOrganisation.getOrganizationLinked().getId()==organization.id %}
                                                        ({{'parent'|trans()}})
                                                    {% else %}
                                                        ({{'childreen'|trans()}})
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="{{path('organization_addBasket', {'id':organismeLinked.id })}}" class="btn btn-default btn-xs add-to-selection-button" data-type="organization" data-id="{{organismeLinked.id}}" data-toggle="tooltip" data-placement="top" data-container="body" title="{{'actions.addBasket'|trans}}"><i class="fa-solid fa-shopping-cart"></i></a>
                                                    <a class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" data-container="body" title="{{'Organization.actions.show'|trans}}" href="{{path('organization_show', {'id':organismeLinked.id})}}" ><i class="fa-solid fa-eye"></i></a>
                                                        {% if is_granted('ROLE_CONTRIBUTOR')  %}
                                                        <a class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" data-container="body" title="{{'OrganizationLink.actions.delete'|trans}}" href="{{path('organizationLink_delete', {'id':linkedOrganisation.id, 'organizationId':organization.id })}}"  data-confirm="{{'actions.confirmDelete'|trans}}"><i class="fa-solid fa-trash-alt"></i></a>
                                                        <a href="{{path('remove_organizationLink', {'organizationParent': organization.id, 'organisationLinked': organismeLinked.id})}}" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" data-container="body" title="{{'actions.deleteLink'|trans}}"><i class="fa-solid fa-chain-broken"></i></a>
                                                        {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                            </tbody>
                        </table>
                    {% endif %}
                    <br/>
                    {% if is_granted('ROLE_CONTRIBUTOR')  %}
                        <button type="button" class="btn btn-primary" alt="{{'OrganizationLink.actions.addNewLink'|trans()}}" data-toggle="modal" data-target="#addOrganizationLinkModal">
                            <i class="fa-solid fa-plus" aria-hidden="true"></i> {{'OrganizationLink.actions.addNewLink'|trans()}}
                        </button> <a class="sf-admin-help" href="#" data-toggle="modal" data-target="#helpModal-31"><i class="fa-solid fa-question-circle"></i></a>
                            {{ render(controller('PostparcBundle:Default:helpMessage', {'id': '31'})) }}
                        {% endif %}

                    <br/><br/>
                </div>
                {# end linked organization panel #}

                {# subServiceOrganizations #}
                {% if subServiceOrganizations |length > 0 %}
                    <div role="tabpanel" class="tab-pane {% if activeTab == 'subServiceOrganizations' %}active{% endif %}" id="subServiceOrganizations">
                        <h3>{{'Organization.subServices'|trans}}</h3>
                        <div class="sf_admin_list no-more-tables">
                            <table class="table table-striped table-condensed table-responsive table-hover">
                                <thead>
                                    <tr>
                                        <th>{{ 'Organization.field.name'|trans() }}</th>
                                        <th>{{ 'Organization.field.abbreviation'|trans()}}</th>
                                        <th>{{ 'Organization.field.organizationType'|trans() }}</th>
                                        <th>{{'Organization.field.city'|trans()}}</th>
                                        <th>{{'Organization.field.coordinate'|trans()}}</th>
                                        <th id="sf_admin_list_th_actions">{{'actions.actions'|trans}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for organisationLinked in subServiceOrganizations %}
                                        {% if (organisationLinked.entity.id != app.user.entity.id and not(is_granted("ROLE_SUPER_ADMIN")) ) %}
                                            {% set editable = false %}
                                        {% else %}
                                            {% set editable = true %}
                                        {% endif %}
                                        <tr {% if editable==false %} class="warning"{% endif %}>
                                            <td>{{ organisationLinked.name }}</td>
                                            <td>{{ organisationLinked.abbreviation }}</td>
                                            <td>{{ organisationLinked.organizationType }}</td>
                                            <td>{{ organisationLinked.coordinate.city }}</td>
                                            <td class="sf_admin_text sf_admin_list_td_ListCoordonnees">
                                                <ul>
                                                    {% if organisationLinked.coordinate.phone %}
                                                        <li>
                                                            <i class="fa-solid fa-phone"></i>&nbsp;{{ organisationLinked.coordinate.phone }}
                                                        </li>
                                                    {% endif %}
                                                    {% if organisationLinked.coordinate.email %}
                                                        <li>
                                                            <a href="mailto:{{ organisationLinked.coordinate.email }}"><i class="fa-solid fa-envelope"></i>&nbsp;{{ organisationLinked.coordinate.email }}</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if organisationLinked.coordinate.website %}
                                                        <li>
                                                            <a href="{{ organisationLinked.coordinate.website }}"><i class="fa-solid fa-laptop"></i>&nbsp;{{ organisationLinked.coordinate.website }}</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="{{path('organization_show', {'id': organisationLinked.id})}}" class="btn btn-default  btn-xs" data-toggle="tooltip" data-placement="top" data-container="body" title="{{'actions.info'|trans}}">
                                                        <i class="fa-solid fa-info"></i>
                                                    </a>
                                                    <a href="{{path('organization_addBasket', {'id':organisationLinked.id })}}" class="btn btn-default btn-xs add-to-selection-button" data-type="organization" data-id="{{organisationLinked.id}}" data-toggle="tooltip" data-placement="top" data-container="body" title="{{'actions.addBasket'|trans}}"><i class="fa-solid fa-shopping-cart"></i>
                                                    </a>
                                                    {% if is_granted('ROLE_CONTRIBUTOR') %}
                                                        {% if ( editable or ( not(editable) and organisationLinked.isEditableByOtherEntities) ) %}
                                                            <a href="{{path('organization_edit', {'id': organisationLinked.id})}}" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" data-container="body" title="{{'actions.edit'|trans}}">
                                                                <i class="fa-solid fa-pencil-alt"></i>
                                                            </a>
                                                            {# <a href="{{path('organization_delete', {'id': organization.id})}}" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="{{'actions.delete'|trans}}" data-container="body" data-confirm="{{'actions.confirmDelete'|trans}}">
                                                                 <i class="fa-solid fa-trash-alt"></i>
                                                             </a>#}
                                                        {% endif %}
                                                        <a href="{{path('remove_organizationLink', {'organizationParent': organization.id, 'organisationLinked': organisationLinked.id})}}" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" data-container="body" title="{{'actions.deleteLink'|trans}}">
                                                            <i class="fa-solid fa-chain-broken"></i>
                                                        </a>
                                                    {% endif %}      
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}

                {# start representations panel #}
                {% if app.session.get('currentEntityConfig') is defined and app.session.get('currentEntityConfig').use_representation_module == true  %}
                    <div role="tabpanel" class="tab-pane {% if activeTab == 'representations' %}active{% endif %}" id="representations">
                        <h3>{{'Representation.labels'|trans}} <a class="sf-admin-help" href="#" data-toggle="modal" data-target="#helpModal-29"><i class="fa-solid fa-question-circle"></i></a></h3>
                                {{ render(controller('PostparcBundle:Default:helpMessage', {'id': '29'})) }}
                                {% include 'person/representationList.html.twig' with {'representations': representations} %}
                                {% if is_granted('ROLE_CONTRIBUTOR')  %}
                            <a href="javascript:;" class="btn btn-primary" id ="addNewRepresentationBtn" alt="{{'Organization.actions.addNewRepresentation'|trans()}}" >
                                <i class="fa-solid fa-plus" aria-hidden="true"></i> {{'Organization.actions.addNewRepresentation'|trans()}}
                            </a>

                            <div id="addNewRepresentationDiv" class="well" style="display:none">
                                <div class="row">
                                    <div class="col-md-6">
                                        <form action="{{path('organization_addNewRepresentation', {'id':organization.id })}}" method="GET">
                                            <div class="form-group form-inline">
                                                <label for="addRepresentationPersonToOrganization">{{'Organization.actions.addPersonToRepresentation'|trans}}</label>
                                                <select name="personId" class="form-control" id="addRepresentationPersonToOrganization"  style="width:80%;display:inline-block;"></select>
                                                <button class="btn btn-primary" type="submit" id="addRepresentationPersonToOrganizationSubmitButton" type="button"><i class="fa-solid fa-plus" aria-hidden="true"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <form action="{{path('organization_addNewRepresentation', {'id':organization.id })}}" method="GET">
                                            <div class="form-group form-inline">
                                                <label for="addRepresentationPfoToOrganization">{{'Organization.actions.addPfoToRepresentation'|trans}}</label>
                                                <select name="pfoId" class="form-control" id="addRepresentationPfoToOrganization"  style="width:80%;display:inline-block;"></select>
                                                <button class="btn btn-primary" type="submit" id="addRepresentationPfoToOrganizationSubmitButton" type="button"><i class="fa-solid fa-plus" aria-hidden="true"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <br/><br/>
                        {% endif %}
                    </div>

                    <div class="alert alert-success pull-right no-margin collapse" id="success-alert" style="display: none; opacity: 500;">
                        {{ 'actions.suppressionConfirmed'|trans }}
                    </div>
                {% endif %}
                {# end representations panel #}

                {# start maps panel #}
                {% include 'organization/resultMap.html.twig' %}
                {# end maps panel #}

                {# start groups panel #}
                {% include 'organization/_groupsTab.html.twig' %}
                {# end representations panel #}

                {{ render(controller('PostparcBundle:Note:getTabContentNotes',{ 'className': organization.getClassName() , 'objectId': organization.id })) }}


            </div> {# end tab content #}
        </div>
    </div>

    <div class="btn-group">
        <br/>
        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="{{'actions.backToTheList'|trans()}}" data-container="body" href="{{path('organization_index')}}">
            <i class="fa-solid fa-list"></i>&nbsp;<span>{{'actions.backToTheList'|trans()}}</span>
        </a>
    </div>

    {# bloc add new OrganizationLink #}
    <div class="modal fade" id="addOrganizationLinkModal"  role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{'actions.close'|trans()}}"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{'OrganizationLink.new'|trans()}}</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(formOrganizationLink) }}
                    {{ form_row(formOrganizationLink.name) }}
                    {{ form_row(formOrganizationLink.linkType) }}
                    <div class="form-group">
                        {{form_label(formOrganizationLink.organizationLinked)}}<br/>
                        {{ form_errors(formOrganizationLink.organizationLinked) }}
                        {{ form_widget(formOrganizationLink.organizationLinked) }}
                        <select id="postparcbundle_organizationlink_organizationLinked" name="postparcbundle_organizationlink[organizationLinked]" class="organization-select2-autocomplete form-control" style="width:100%;" >
                            <option></option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'actions.close'|trans()}}</button>
                    <button type="submit" class="btn btn-primary">{{'actions.add'|trans()}}</button>
                </div>
                {{ form_end(formOrganizationLink) }}
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {% if (organization.entity.id != app.user.entity.id and not(is_granted("ROLE_SUPER_ADMIN")) ) %}
        <script type="text/javascript">
            $("#createByOtherEntityMessage").css("display", "block");
        </script>
    {% endif %}
    {% include 'organization/showJs.html.twig' %}
    <script type="text/javascript" src="{{ asset('bundles/postparc/lib/leaflet/leaflet.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/postparc/lib/leaflet/markercluster/dist/leaflet.markercluster.js') }}"></script>
    {% if organization.coordinate and organization.coordinate.coordinate|length %}
        <script type="text/javascript">
            var map = L.map('map-{{organization.id}}', {
                center: [{{organization.coordinate.coordinate}}],
                zoom: 15,
                minZoom: 6,
                maxZoom: 17,
                zoomControl: false
            });
            L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            var markers = new L.LayerGroup().addTo(map);
            var marker = L.marker([{{organization.coordinate.coordinate}}]).addTo(markers);

        </script>
    {% endif %}
    {% include 'organization/mapjs.html.twig' %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/postparc/lib/leaflet/leaflet.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/postparc/lib/leaflet/markercluster/dist/MarkerCluster.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/postparc/lib/leaflet/markercluster/dist/MarkerCluster.Default.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
