<div class="modal fade" id="add-new-AdditionalFunction-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{'AdditionalFunction.new'|trans()}}</h4>
            </div>
            <div class="modal-body">
                <div id="sf_admin_bar">
                    <div class="suggestionsBox bg-warning" id="suggestions" style="display: none;">
                        <div class="suggestionList" id="autoSuggestionsList"></div>
                    </div>
                </div> 
                <form id="form-modal-add-new-AdditionalFunction" method="POST" actions="{{ path('ajax_add_new_additionalFunction') }}">
                    {{ form_widget(form) }}
                    <input type="submit" id="add-new-function-submit" class="btn btn-primary" value="{{'actions.create'|trans()}}">
                    {{ form_end(form) }}

                    </div>

                    <div class="modal-footer">

                    </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        
        $( "#additional_function_name" ).keyup(function() {
            if ($('#additional_function_name').val().length< 4) {
            $('#suggestions').hide();

            } else {
                $.post("{{ path('ajax_checkListAdditionalFunction') }}", {search: ""+$('#additional_function_name').val()+""}, function(data){
                    if(data.length >0) {
                        $('#suggestions').show();
                        $('#autoSuggestionsList').html(data);
                    }else{
                        $('#suggestions').hide();
                        $('#autoSuggestionsList').html('');
                    }

                });
            }
        });

        $("#form-modal-add-new-AdditionalFunction").submit(function (event)
        {
            /* stop form from submitting normally */
            if (!event)
                var event = window.event;
            event.preventDefault();
            var url = '{{ path('ajax_add_new_additionalFunction') }}';
            var posting = $.post(url, {
                'additional_function[name]': $('#additional_function_name').val(),
                'additional_function[_token]': $('#additional_function__token').val()
            });
            posting.done(function (data) {
                $('#add-new-AdditionalFunction-Modal').modal('toggle');
                var jsonArray = JSON.parse(data);
                $('.ajax-add-new-additionalFunction').prepend("<option value='" + jsonArray.id + "' selected='selected'>" + jsonArray.name + "</option>");
                // reload select2
                $('.ajax-add-new-additionalFunction').select2();
                // ajout alerte
                var domAlert = "<div id=\"alert-box\"><div class=\"alert alert-success alert-dismissible alert-auto-hidden\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button><div class=\"flash-success\">{{ 'flash.addSuccess'|trans() }}</div></div></div>";
                $('#content').append(domAlert);
                hideAlertMessage();
                //$(".alert-auto-hidden").fadeTo(3000, 800).slideUp('slow', function(){
                //    $(".alert-auto-hidden").alert('close');
                //});
            });
        });

    </script>

