{% extends 'base.html.twig' %}

{% block title %}
{{'Version.label'|trans}}
{% endblock title %}

{% block body %}
<h1>{{'Version.label'|trans}}<a class="sf-admin-help" href="#" data-toggle="modal" data-target="#helpModal-25"><i class="fa-solid fa-question-circle"></i></a></h1>
<a class="btn btn-default pull-right" href="{{urlShowObject}}"><i class="fa-solid fa-reply"></i> {{'actions.callbackEditActualVersion'|trans}}</a>

{{ render(controller('PostparcBundle:Default:helpMessage', {'id': '25'})) }}

{# dump(versions) #}

<div class="sf_admin_list no-more-tables">
    <table class="table table-striped table-condensed table-responsive table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>{{'Version.modifiedFields'|trans}}</th>
                <th>{{'updatedBy'|trans}}</th>
                <th id="sf_admin_list_th_actions">{{'actions.actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for key, version in versions %}
            <tr>
                <td>{{version.version}} {% if loop.first %}<i class="fa-solid fa-check"></i>{% endif %}</td>
                <td>{{version.loggedAt|date("d/m/Y H:i") }}</td>
                <td>{% for key, value in version.data %}
                    {% if not loop.first %}, {% endif %}{{(class~'.field.'~key)|trans}}
                    {% endfor %}
                </td>
                <td>{{version.username}}</td>
                <td>
                    <div class="btn-group">
                        {% if not loop.first %}
                            
                        <a href="{{ path('version_revert', {'objectId': object.id,'versionId':version.version,'class':class}) }}" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" data-container="body" title="{{'actions.useThisVersion'|trans}}" data-confirm="{{'actions.confirmUseThisVersion'|trans}}">
                            <i class="fa-solid fa-reply"></i>
                        </a>
                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#versionModal-{{version.id}}" title="{{'actions.showDifference'|trans}}">
                            <i class="fa-solid fa-code-fork"></i>
                        </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{# mise en place des modals #}
{% for version in versions %}
    {% if not loop.first %}
        <div class="modal fade" id="versionModal-{{version.id}}" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{'Version.modificationsCompleted'|trans}}</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-condensed table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th>{{'Version.fields'|trans}}</th>
                                    <th>{{'Version.actualValue'|trans}}</th>
                                    <th>{{'Version.versionValue'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in version.data %}
                                <tr>
                                    <td>{{(class~'.field.'~key)|trans}}</td>
                                    <td>{{ attribute(object, key)|raw }}</td>
                                    <td>
                                    {% if value is iterable %}
                                        {% for key2, value2 in value %}
                                            {{key2}}:{{value2}}
                                        {% endfor %}
                                        {#dump(value)#}
                                    {% else %}
                                        {{value|raw}}
                                    {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{'actions.close'|trans}}</button>
                        <a href="{{ path('version_revert', {'objectId': object.id,'versionId':version.version,'class':class}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" data-container="body" title="{{'actions.useThisVersion'|trans}}" ><i class="fa-solid fa-exchange"></i></a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}
{% endfor %}


{% endblock %}
