{% extends 'base.html.twig' %}

{% block title %}
    {{ 'EventType.edit'|trans }} "{{ eventType.name }}"
{% endblock title %}

{% block body %}
    <h1>{{ 'EventType.edit'|trans }} "{{ eventType.name }}"</h1>
    {% include 'default/updatedByDiv.html.twig' with {'object': eventType} %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="btn-group">
            <a class="btn btn-default" href="{{ path('eventType_delete', {'id': eventType.id }) }}" data-toggle="tooltip" data-placement="top"
             title="{{ 'actions.delete'|trans() }}" data-container="body" onclick="return confirm('{{ 'actions.confirmDelete'|trans }}');" >
                <i class="fa-solid fa-trash-alt"></i>
            </a>
            <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="{{'actions.backToTheList'|trans() }}"
             data-container="body" href="{{ path('eventType_index') }}">
                <i class="fa-solid fa-list"></i>&nbsp;<span>{{ 'actions.backToTheList'|trans() }}</span>
            </a>
            <input type="submit" class="btn btn-primary" value="{{ 'actions.edit'|trans() }}">
        </div>
    {{ form_end(edit_form) }}
{% endblock %}
